header {
  max-width: 1200px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.hero img {
  width: 100%;
  height: 680px;
  object-fit: cover;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.offers {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.offer img {
  width: 200px;
  height: 400px;
  object-fit: cover;
}

.background-grey {
  background-color: #EBEDEE;
}

.offer-detail {
  display: flex;  
  justify-content: space-between;
}

.offer-right {
  width: 300px;
  background-color: white;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}